
 .form-container{
    margin: 0 auto; 
    width:300px;
 }
 .len-container {
    display: flex;
    flex-direction: column;
  }
  a, u {
    text-decoration: none;
}
  
  .len-container > * {
    width: 100%;
  }