.auth-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  a, u {
    text-decoration: none;
}
  .auth-full-width {
    width: 100%;
  }
  .auth-container {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container > * {
    width: 100%;
  }
  
  .auth-right-align {
    text-align: right;
  }
  
  input.auth-right-align::-webkit-outer-spin-button,
  input.auth-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.auth-right-align {
    -moz-appearance: textfield;
  }
  